nbproject/
app/cache/*
app/logs/*
app/SymfonyRequirements.php
app/bootstrap.php.cache
app/config/parameters.yml
bin/
composer.phar
mysql-bin.index
web/bundles/
web/img/captcha/*
!web/img/captcha/.gitkeep
vendor/
