nbproject/
.idea/
var/cache/*
!var/cache/.gitkeep
var/logs/*
!var/logs/.gitkeep
var/SymfonyRequirements.php
var/bootstrap.php.cache
app/config/parameters.yml
bin/
composer.phar
mysql-bin.index
web/bundles/
web/img/captcha/*
!web/img/captcha/.gitkeep
vendor/
