.alert-error {
    padding:10px !important;
    margin-bottom:20px;
    border:1px solid transparent;
    border-radius:4px;
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
}

.alert-error > ul {
    margin:0 0 0px 25px !important;
}

input[type="text"], textarea {
    width:600px !important;
}

select {
    width:300px !important;
}

label {
    min-width:100px;
}

input[type="checkbox"],
input[type="radio"]{
    margin:-7px 0 0;
}

.content {
    margin-top:60px;
}