{% extends("::base.html.twig") %}

{% block content %}

{% if app.request.attributes.get("_route") == "post" %}
    {% set template = "" %}
{% else %}
    {% set template = "Preview" %}
{% endif %}

{% for post in pagination %}
    {{ include(
        "MylkBlogBundle:Default:post" ~ template ~ ".html.twig",
        { "post": post }
    ) }}
{% endfor %}

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock content %}