{% extends "MylkBlogBundle:Default:index.html.twig" %}

{% block content %}
<article>
    <div class="post-header">
        <h1 class="post-title"><a href="#">Hello world!</a></h1>
        <div class="post-info">Posted on 21 June, 2014 by admin</div>
    </div>

    <div class="post-content">
        <p>This is the post body.</p>
    </div>

    <div class="post-info">
        Category: <a href="#">Uncategorized</a>
        |
        Tags: <a href="#">A tag</a>
        |
        <a href="#">Comment</a> <a href="#">(1)</a>
    </div>
        
    <div class="post-comments">
        <h3>Comments</h3>
        
        <div>
            <div>
                <div class="post-info">Posted on 22 June, 2014 by Mr. Mister</div>
            </div>

            <div>
                <p>This is the comment body.</p>
            </div>
        </div>
    </div>
</article>
{% endblock content %}